body {
    background-image: url('images/pic.jpg'); /* Adjust the path as needed */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Other CSS styles remain unchanged */


h1 {
    margin-top: 50px;
}

#form-container {
    margin-top: 20px;
    width: 300px; /* Adjust the width as needed */
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow for a card-like effect */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
}
